<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>newsTitle</key>
		<string>头条</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SYLB10,SYDT10,SYRECOMMEND</string>
		<key>newsIsSubscribe</key>
		<true/>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>娱乐</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=YL53,FOCUSYL53</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>财经</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=CJ33,FOCUSCJ33,HNCJ33</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>科技</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=KJ123,FOCUSKJ123</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>体育</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=TY43,FOCUSTY43,TYLIVE</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>汽车</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=QC45,FOCUSQC45</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>时尚</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SS78,FOCUSSS78</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>文化</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=WH25,FOCUSWH25</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>房产</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=FC81,FOCUSFC81</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>FUN来了</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=DZPD,FOCUSDZPD</string>
	</dict>
</array>
</plist>
